.formulario {
  background: white;
  padding: 25px;
  border-radius: 12px;
  margin-bottom: 25px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.formulario h2 {
  margin-bottom: 20px;
  color: #0f172a;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}

input, textarea {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #cbd5e1;
  font-size: 14px;
}

textarea {
  resize: none;
  height: 80px;
}

button {
  margin-top: 15px;
  padding: 12px;
  border: none;
  background: #2563eb;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #1d4ed8;
}